.form-container{
    max-width: 1120px;
    margin: 20px auto;
    width: 98%;
    background-color: white;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    gap: 10px;
}

.input-content{
    display: flex;
    flex-direction: column;
}

.input{
    outline: none;
    margin-right: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    border: 1px solid #ccc;
}

.radio-group{
    display: flex;
    align-items: center;
}

.radio-group input{
    margin-left: 20px;
    accent-color: black;
    margin-top: 0;
}

.sbm-button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: teal;
}

@media(max-width: 750px){
    .form-container{
        display: grid;
    }
}